body {
    height: 100%;
    margin: 0;
    background: #5bb6e5;
    font-family: 'Montserrat', sans-serif;
}


section {
    top: 0;
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0575E6, #00f2df);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0575E6, #00f2df);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
    margin: 0;
    height: 100%;
}



.tags {
    color: #028bb9;
}

.description {
    overflow: hidden;
    height: 70px;
}

#nearby,
#filetree {
    clear: both;
}

.card {
    border-radius: 0px;
    border: none;
    font-size: 100%;
    margin-bottom: 30px;
}

.see-on-github {
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0575E6, #00f2df);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0575E6, #00f2df);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50px;
    padding: 20px 40px;
    color: white;
    border: 1px solid #00f2df;
    margin-bottom: 10px;
}

.btn:hover,
.btn:active,
.btn:target,
.btn:active:focus {
    border: 1px solid #0575E6;
    color: #0575E6;
    background: white;
}


.card-title {
    font-weight: bold;
    font-size: 25px;
}

section {
    padding-bottom: 100px;
}

.repos h5,
.repos p {
    text-align: left;
}


.repos-title {
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}


.repos {
    text-align: center;
    height: 100%;
}
